<html>
  <head>
    <title>Paintball India !!</title>
  </head>
  <body>
    <div>
            <h1><a href="">Paintball India Blog</a></h1>
        </div>

        <div>
            <p>published: 06.04.2016, 19:30</p>
            <h2><a href="">My first post</a></h2>
            <p>Paintball is a game developed in the 1980s in which players eliminate opponents from play by hitting them with dye-filled, breakable, oil and gelatin paintballs, or pellets, usually shot from a carbon dioxide or compressed air (Nitrogen) powered “paintball marker”.The game is regularly played at a sporting level with organized competition involving major tournaments, professional teams, and players.</p>
        </div>

  </body>
</html>
